<DOCTYPE! html>
<head>
  
</head>

<body>
  <h1>Welcome to Hogwarts</h1>
  <h4>Please sign up or log in to access your @hogwarts.edu email account</h4>
  <button name="Sign Up" onclick="location.href='/registrations/signup'" type="button">Sign Up</button>
  
  <button name="Log In" onclick="location.href='/sessions/login'" type="button">Log In</button>
  
  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>

</body>

</html>
